<div class="restaurant-show-page container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<%= form_for [@restaurant,@menu], url: restaurant_menus_path do |f| %>
				<div class="form-group">
					<h4><%= f.label :name, "メニュー名" %></h4>
					<%= f.text_area :name, rows: "2", style: "width: 70%;" %>
				</div>
				<div class="form-group">
					<h4><%= f.label :price, "金額(税込)" %></h4>
					<%= f.text_area :price, rows: "2", style: "width: 70%;" %>
				</div>
				<div class="form-group">
					<h4><%= f.label :category, "カテゴリー" %></h4>
					 <%= f.select :category, Menu.categories.keys.to_a %>
				</div>
				<div class="text-center">
					<%= f.submit "投稿", class: "btn btn-warning btn-lg" %>
				</div>
			<% end %>
		</div>
	</div>
</div>