<h1 class="zantei text-center">暫定的にルートパス一覧掲載します</h1>

<p class="path_name">
 <%= link_to "ユーザー編集",edit_user_path(user.id) %>
</p>
<p class="path_name">
 <%= link_to "ユーザー詳細",user_path(user.id) %>
</p>
<p class="path_name">
 <%= link_to "レストラン-select",select_restaurants_path(restaurant.id) %>
</p>
<p class="path_name">
 <%= link_to "レストラン検索",search_restaurants_path %>
</p>
<p class="path_name">
 <%= link_to "restaurants#index",restaurants_path %>
</p>
<p class="path_name">
 <%= link_to "restaurants#new",new_restaurant_path %>
</p>
<p class="path_name">
 <%= link_to " restaurants#edit",edit_restaurant_path(restaurant.id) %>
</p>
<p class="path_name">
 <%= link_to "restaurants#show",restaurant_path(restaurant.id) %>
</p>
<p class="path_name">
 <%= link_to "menus#index",menus_path %>
</p>
<p class="path_name">
 <%= link_to "menus#new",new_menu_path %>
</p>
<p class="path_name">
 <%= link_to "menus#edit",edit_menu_path(menus.id) %>
</p>
<p class="path_name">
 <%= link_to "menus#show",menu_path(menu.id) %>
</p>


