<div class="form-box">
  <div class="container">

  	<!-- 検索フォーム -->
  	<div class="row">
			<div class="search_form">
				<%= form_with url: search_path, method: :get do |f| %>
					<%= f.text_field :areas, placeholder: "エリア名" %>
					<%= f.text_field :genres, placeholder: "ジャンル名"	%>
					<%= f.submit '検索' %>
				<% end %>
			</div>
		</div>

  	<div class="row">
			<div class="search_form">
				<%= form_tag(search_path, method: :get) do %>
					<%= select_tag(:option, options_for_select([["エリア","areas"],["ジャンル","genres"]])) %>
					<%= select_tag(:sort, options_for_select([["投稿が新しい順", "new"],["投稿が古い順", "old"]])) %>
					<%= text_field_tag :search_areas, placeholder: "エリア名" %>
					<%= text_field_tag :search_genres, placeholder: "ジャンル名"	%>
					<%= submit_tag '検索' %>
				<% end %>
			</div>
		</div>

    <div class="row">

        <table class='table table-hover table-inverse'>
        	<tbody>
				<h1>一覧</h1>
				<div><%= link_to " 新規投稿", new_restaurant_path, class: 'btn btn-info' %></div>

				    <% @restaurants.each do |r| %>
				    <tr>
						<td><%= attachment_image_tag r.pictures[0], :image, size: '150x150', class: "blog-index-photo" %></td>
						<td><%= r.name %><br>
						    <%= r.area.name %></td>
						<td><%= link_to '店舗詳細へ', restaurant_path(r.id), class:"btn btn-warning" %></td>
					</tr>
					<% end %>
			</tbody>
		</table>

	</div>
  </div>
</div>



