<div class="form-box">
  <div class="container">

  	<!-- 検索バー -->
  	<div class="row">
  		<%= render 'searchs/search-form' %>
  	</div>

    <div class="row">
    	<div class="col-md-8 col-md-offset-2">

        <table class='table table-hover table-inverse'>
        	<tbody>
				<h1>一覧</h1>
				<div><%= link_to " 新規投稿", new_restaurant_path, class: 'btn btn-info' %></div>

				    <% @restaurants.each do |r| %>
				    <tr>
						<td><%= attachment_image_tag r.pictures[0], :image, size: '100x100', class: "blog-index-photo" %></td>
						<td class='index-restaurant-name'><%= r.name %><br>
						    <span class="label label-default"><%= r.area.name %></span>
						</td>
						<td><%= link_to '店舗詳細へ', restaurant_path(r.id), class:"btn btn-warning" %></td>
					</tr>
					<% end %>
			</tbody>
		</table>
	    </div>

	</div>
  </div>
</div>





