<div class="form-box">
  <div class="container">

  	<!-- 検索フォーム -->
  	<div class="row">
			<div class="search_form">
				<%= form_with url: search_path, method: :get, local: true do |f| %>
  				<div class="search_content">
  					<span>エリア・ジャンルからお店を探す</span>
						<%= f.collection_select :area_id, Area.all, :id, :name, {prompt: "エリアを選択"}, class:"area_select" %>
						<%= f.collection_select :genre_id, Genre.all, :id, :category, {prompt: "ジャンルを選択"}, class:"genre-select" %>
						<%= f.submit '検索', class: "search_btn" %>
					</div>
				<% end %>
			</div>
		</div>

    <div class="row">

        <table class='table table-hover table-inverse'>
        	<tbody>
				<h1>一覧</h1>
				<div><%= link_to " 新規投稿", new_restaurant_path, class: 'btn btn-info' %></div>

				    <% @restaurants.each do |r| %>
				    <tr>
						<td><%= attachment_image_tag r.pictures[0], :image, size: '150x150', class: "blog-index-photo" %></td>
						<td><%= r.name %><br>
						    <%= r.area.name %></td>
						<td><%= link_to '店舗詳細へ', restaurant_path(r.id), class:"btn btn-warning" %></td>
					</tr>
					<% end %>
			</tbody>
		</table>

	</div>
  </div>
</div>





