<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">

			<h2 class="restaurant-new-title">店舗登録</h2>

			<%= form_with model: restaurant, local:true, class: "form" do |f| %>

				<div class="field">
					<%= f.label :name, "店名" %><br>
					<%= f.text_field :name %>
				</div>

				<div class="field">
					<%= f.label :introduction, "説明" %><br>
					<%= f.text_area :introduction %>
				</div>

				<div class="field">
					<%= f.label :phone_number, "電話番号" %><br>
					<%= f.text_field :phone_number %>
				</div>

				<div class="form">
					<%= f.label :エリア %><br>
					<%= f.collection_select :area_id, Area.all, :id, :name, class:"select-controll" %>
				</div>

				<div class="field">
					<%= f.label :postal_code, "郵便番号" %><br>
					<%= f.text_field :postal_code %>
				</div>

				<div class="field">
					<%= f.label :address, "住所" %><br>
					<%= f.text_field :address %>
				</div>

				<div class="field">
					<%= f.label :email, "メールアドレス" %><br>
					<%= f.text_field :email %>
				</div>

				<div class="form">
					<%= f.label :ジャンル %><br>
					<%= f.collection_select :genre_id, Genre.all, :id, :category, class:"select-controll" %>
				</div>

				<div class="field">
					<%= f.label :pictures_images, "写真" %><br>
					<%= f.attachment_field :pictures_images, multiple: true %>
				</div>

				<div class="submit-btn">
					<%= f.submit "投稿", class: "btn btn-primary" %>
			    </div>

			<% end %>

		</div>
	</div>
</div>