<div class="container">
	<div class="row">
		<h2 class="restaurant-new-title">店舗登録</h2>

		<%= form_with model: @restaurant, local:true, class: "form" do |f| %>

			<div class="field">
				<%= f.label :name, "店名" %>
				<%= f.text_field :name %>
			</div>

			<div class="field">
				<%= f.label :introduction, "説明" %>
				<%= f.text_area :introduction %>
			</div>

			