<header class="navbar navbar-fixed-top header-color">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <span id="application-name">EATING</span>
      </div>
    </div>
    <nav id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- data-toggle="modal" data-target="#sampleModal" モーダルを開くコード -->
        <!--ログイン時 -->
        <% if user_signed_in? %>
          <li class="menu">
            <a href="" data-toggle="modal" data-target="#sampleModal">
              <i class="z fas fa-search"></i>
            </a>
          </li>
         <li class="menu">
            <%= link_to 'Home',root_path,class:"z fas fa-home" %>
          </li>
          <li class="menu">
            <%= link_to 'Restaurants',restaurants_path, class:"z fas fa-utensils" %>
          </li>
          <li class="menu">
             <%= link_to ' Logout', destroy_user_session_path, method: :delete,class:"z fas fa-sign-out-alt"%>
          </li>
            <!--ログアウト時 -->
        <% else %>
          <li class="menu">
            <%= link_to ' Home',root_path,class:"glyphicon glyphicon-home" %>
          </li>
          <li class="menu">
            <%= link_to ' About',home_about_path,class:"glyphicon glyphicon-link" %>
          </li>
          <li class="menu">
            <%#= link_to ' A',X_path, class:"glyphicon glyphicon-user" %>
          </li>
          <li class="menu">
            <%#= link_to ' B',X_path ,class:"glyphicon glyphicon-list-alt" %>
          </li>
          <li class="menu">
            <%= link_to ' Signup', new_user_registration_path,class:"glyphicon glyphicon-edit" %>
          </li>
          <li class="menu">
            <%= link_to ' Login', new_user_session_path ,class:"glyphicon glyphicon-log-in"%>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<!-- 検索ボタンをモーダル表示 -->
<div class="modal fade" id="sampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">検索</h4>
      </div>
      <div class="modal-body">
        <div class="search_form">
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <div class="search_content">
              <span><strong>エリア・ジャンルからお店を探す</strong></span>
              <%= f.collection_select :area_id, Area.all, :id, :name, {prompt: "エリア"}, class:"area_select" %>
              <%= f.collection_select :genre_id, Genre.all, :id, :category, {prompt: "ジャンル"}, class:"genre-select" %>
              <%= f.submit '検索', class: "search_btn" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- モーダルここまで -->