<header class="navbar navbar-fixed-top header-color">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <span id="application-name">EATING</span>
      </div>
    </div>
    <nav id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- data-toggle="modal" data-target="#sampleModal" モーダルを開くコード -->
        <!--ログイン時 -->
        <% if user_signed_in? %>
          <li class="menu">
            <%#= link_to ' C',X_path(current_user),class:"glyphicon glyphicon-home" %>
          </li>
          <li class="menu">
            <%#= link_to ' D',X_path, class:"glyphicon glyphicon-user" %>
          </li>
          <li class="menu">
            <%#= link_to ' E',X_path ,class:"glyphicon glyphicon-list-alt" %>
          </li>
          <li class="menu">
            <a href="" data-toggle="modal" data-target="#sampleModal">
              <i class="fas fa-search"></i>
            </a>
          </li>
          <li class="menu">
             <%= link_to ' Logout', destroy_user_session_path, method: :delete,class:"glyphicon glyphicon-log-out logout"%>
          </li>
            <!--ログアウト時 -->
        <% else %>
          <li class="menu">
            <%= link_to ' Home',root_path,class:"glyphicon glyphicon-home" %>
          </li>
          <li class="menu">
            <%= link_to ' About',home_about_path,class:"glyphicon glyphicon-link" %>
          </li>
          <li class="menu">
            <%#= link_to ' A',X_path, class:"glyphicon glyphicon-user" %>
          </li>
          <li class="menu">
            <%#= link_to ' B',X_path ,class:"glyphicon glyphicon-list-alt" %>
          </li>
          <li class="menu">
            <%= link_to ' Signup', new_user_registration_path,class:"glyphicon glyphicon-edit" %>
          </li>
          <li class="menu">
            <%= link_to ' Login', new_user_session_path ,class:"glyphicon glyphicon-log-in"%>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<!-- 検索ボタンをモーダル表示 -->
<div class="modal fade" id="sampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">検索</h4>
      </div>
      <div class="modal-body">
        <!-- ログイン時のみ検索ボタンをヘッダーに表示 -->
        <%# if user_signed_in? %>
          <%#= form_tag(search_path, :method => 'get') do %>
            <%#= select_tag(:option, options_for_select([["ユーザー", "1"],["投稿","2"]]))%>
            <%#= text_field_tag :search %>
            <%#= submit_tag '検索' %>
          <%# end %>
        <%# end %>
        <!-- ここまで -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- モーダルここまで -->